.header{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
.header a{
    color:white;
    margin-left: 10px;
    text-decoration: none;
}